
h3, p {
    margin: 0;
}

.item {
    display: flex;
    flex-direction: column;
    column-gap: 40px;

    padding: 20px 0;
    margin: 0 auto;
    margin-bottom: 31px;
    width: calc((100% - 6* 15px) / 3);
    width: 290px;
    height: 217px;
    
    border-radius: 10px;
   
    background-color: #D9D9D9;
    overflow-wrap: break-word;
}

.subtitle {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;

}

.value {
    margin-bottom: 23px;
    text-align: center;

}

.icon {
    height: 85px;
    width: 85px;

    margin: 0 auto;
}

