
.header {
    display: flex;
    height: 80px;
    align-items: center;
}

.logo {
    margin-right: 111px;
    width: 82px;
    height: 56px;
}

.list_info {
    display: flex;
    gap: 45px;
    list-style: none;
    padding: 0;
}

.info {
    line-height: 12px;
    color: black;
}

.container_user {
    display: flex;
    align-items: center;
    gap: 27px;

    margin-left: auto;
}

.button_signup {
    width: 89px;
    height: 35px;
    background-color: #FFB36C;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}






