



.header {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 50px;
    width: 34px;
    height: 22px;
}

.item_info {
    display: none;
}

.list_info {
    display: flex;
    gap: 45px;
    list-style: none;
    padding: 0;
}

.info {
    line-height: 12px;
    color: black;
}

.container_user {
    /* display: none; */
}

.button_signup {
    width: 89px;
    height: 35px;
    background-color: #FFB36C;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}



@media screen and (min-width: 768px){
    .header {
        height: 70px;
        justify-content: none;

    }
    .menu {
        display: none;
    }

    .item_info {
        display: block;
    }

    .list_info {
        display: flex;
        gap: 45px;
        list-style: none;
        padding: 0;
    }

    .container_user {
        display: flex;
        align-items: center;
        gap: 27px;
    
        margin-left: auto;
    }
}

@media screen and (min-width: 1280px){
    .header {
        height: 80px;
    }

    .logo {
        margin-right: 111px;
        width: 82px;
        height: 56px;
    }

    .list_info {
        display: flex;
        gap: 45px;
        list-style: none;
        padding: 0;
    }
} 


