
.list_detailedinfo {
    
}

@media screen and (min-width: 1280px){
    .list_detailedinfo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        list-style: none;
        background-color: #E8E8E8;
        border-radius: 10px;
        padding: 40px 0 9px;
        margin-bottom: 80px;

    }
}