
.container_news {
    display: none;
}

@media screen and (min-width: 768px){
    


.container_news {
    display: block;
    margin-bottom: 80px;
}

.title_news {
    font-weight: 20px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    padding: 0;
}

.list > li {
    width: 270px;
}

.img_news {
    border-radius: 10px;
    width: 270px;
    height: 208px;
}

.article_title {
    text-wrap: wrap;
}

.button_seemore {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: #FFB36C;
}

}
